<div class="spinner" *ngIf="spinner">
    <img src="assets/images/spinner.gif" />
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="loginForm" [formGroup]="signinForm" (ngSubmit)="doLogin()">
            <div class="errorMsg" *ngIf="btnClicked && !isValid">
                Error: Invalid User Credentials!
            </div>
            <div class="form-group">
                <label for="cust_id">User ID</label>
                <input type="text" name="cust_id" id="cust_id" placeholder="Enter User ID"
                    formControlName="cust_id">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password"
                    formControlName="password">
            </div>
            <div class="btn-container">
                <app-button [buttonType]="'submit'" 
                    [btnClass]="'btn-default'" 
                    [buttonText]="'Login'"></app-button>
            </div>
        </form>
    </div>
</div>
