<div class="row">
    <div class="col-lg-3 col-xs-12">
        <app-navigation></app-navigation>
    </div>
    <div class="col-lg-9 col-xs-12">
        <app-welcome-section></app-welcome-section>
        <app-balance-section></app-balance-section>
        <div class="row">
            <div class="col-sm-6">
                <app-subscribe-section></app-subscribe-section>
            </div>
            <div class="col-sm-6">
                <app-binding-section></app-binding-section>
            </div>
        </div>
    </div>
</div>

