<div class="row mainContent">
    <div class="col-lg-3 col-xs-12">
        <div class="left">
            <app-navigation></app-navigation>
        </div>
    </div>
    <div class="col-lg-9 col-xs-12">
        <div class="right" *ngIf="customerData">
            <app-welcome-section
                [name]="customerData.name"
                [last_login]="customerData.last_login"
                >
            </app-welcome-section>
            <app-balance-section 
                [balance]="customerData.balance" 
                [transcation]="customerData.transcation">
            </app-balance-section>
            <div class="row">
                <div class="col-sm-6">
                    <app-subscribe-section></app-subscribe-section>
                </div>
                <div class="col-sm-6">
                    <app-binding-section></app-binding-section>
                </div>
            </div>
        </div>
    </div>
</div>

