/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #666666;
    font-size: 16px;
}
.container{
    width: 970px;
    margin: 50px auto;
}
.mainContent .left, .mainContent .right{
    background: #FFFFFF;
    padding: 20px;
}
.mainContent .col-lg-3{
    width: 31%;
}
.mainContent .col-lg-9{
    width: 69%;
}
h2{
    font-weight: bold;
}
h4{
    color: #000000;
    font-size: 24px;
    margin-bottom: 15px;
}
@media (max-width: 991px){
    .container{
        width: 100%;
        margin: 20px auto;
    }
    .mainContent .col-lg-3{
        width: 100%;
    }
    .mainContent .col-lg-9{
        width: 100%;
    }  
    .mainContent .left{
        margin: 20px 0px;
        padding: 0px;
        background: #D7D7D7;
    }
}